/************** GLOBAL CSS **************/
:root {
    --main-blue-color: #2c308d;
    --second-blue-color: #a0aec1;
    --black-color: #111822;
}


/***** TYPOGRAPHY *****/
h1{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

h2{
    font-family: 'Roboto Mono', monospace;
}

p{
    font-family: 'Roboto Mono', monospace;
    text-align: left;
}


/***** COMPONENTS *****/
button, a{
    cursor: pointer;
}

header a{
    text-decoration: none;
}


/***** STRUCTURE *****/
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    width: 100%;
    background-color: #fff;
    overflow: auto;
}


/* HEADER */
header{
    position: fixed;
    top: 0;
    display: grid;
    width: 100vw;
    background-color: #fff;
    z-index: 40;
}

header #logo-bttn{
    position: relative;
    background: none;
    border: none;
}

#logo-bttn img{
    position: relative;
    max-height: 100%;
    justify-self: center;
}

/* Navigation */
/* styling */
#menu a.current{
    color: var(--black-color);
}

#menu a:hover{
    color: var(--main-blue-color);
}


/* MAIN */
main{
    width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 80px;
    z-index: 1;
}

section{
    display: grid;
}


/* FOOTER */



/************** OUTDATED DEVICES **************/
@media screen and (max-width: 320px) {
    
}

/************** SMARTPHONES **************/
@media screen and (min-width: 320px) and (max-width: 768px) {

    /***** HEADER *****/
    /* NAVIGATION */
    header{
        grid-template-columns: 40% 40% 20%;
        grid-template-rows: 80px;
        align-items: center;
    }

    #overlay{
        top: 0;
        position: fixed;
        height: 100vh;
        width: 100vw;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-column: 1/-1;
        grid-row: 2/3;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100vw);
        transition: transform 0.5s cubic-bezier(0.64, 0.05, 0.35, 1), 
                    visibility 0.5s cubic-bezier(0.64, 0.05, 0.35, 1),
                    opacity 0.5s cubic-bezier(0.64, 0.05, 0.35, 1);
        touch-action: manipulation;
        z-index: 10;
    }

    .active #overlay{
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
        transition: transform 0.5s cubic-bezier(0.64, 0.05, 0.35, 1), 
                    visibility 0.5s cubic-bezier(0.64, 0.05, 0.35, 1),
                    opacity 0.3s cubic-bezier(0.64, 0.05, 0.35, 1);
    }

    #overlay nav{
        justify-content: center;
        width: 100%;
        
    }

    nav#menu{
        position: absolute;
        height: 100vh;
        flex-direction: column;
        align-content: center;
        margin-top: -80px;
        z-index: 20;
    }

    nav#social-media{
        height: 80px;
        z-index: 25;
    }

    #overlay ul{
        display: flex;
        height: 100%;
        list-style: none;
        text-transform: uppercase;
    }

    /* menu nav links */
    #menu ul{
        position: absolute;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        font-family: 'Lato', sans-serif;
        font-size: 1.9em;
        font-weight: 600;
        z-index: 30;
    }

    /* social media links */
    #social-media ul{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: 'Roboto Mono', monospace;
        font-size: 0.9em;
        font-weight: 500;
        width: 70%;
        margin: 0 auto;
        list-style-type: none;
    }

    #menu li{
        margin: 0.5em auto;
    }

    #overlay a{
        padding: 0.2em 0.4em;
        color: var(--second-blue-color);
    }

    /* animated SVG positioning */
    #overlay svg{
        height: 100%;
        padding: 12%;
        z-index: 15;
        stroke-dasharray: 1710;
        stroke-dashoffset: 1710;
    }
    
    /* after JS toggle function is called */
    .active #overlay svg{
        animation: dash 1.3s linear forwards;
    }
    @keyframes dash {
        to {
          stroke-dashoffset: 0;
        }
    }

    /* LOGO */
    #logo-bttn{
        grid-column: 1/4;
        grid-row: 1/2;
        justify-self: center;
        height: 60%;
        padding: 0.4em;
        z-index: 50;
    }

    /* HAMBURGER */
    header #toggle{
        position: relative;
        grid-column: 3/4;
        grid-row: 1/2;
        justify-self: end;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        right: 5vw;
        background: none;
        border: none;
        outline: none;
        z-index: 50;
    }

    header #toggle span{
        position: absolute;
        display: block;
        width: 80%;
        height: 4px;
        border-radius: 10px;
        background-color: #000;
        color: transparent;
        transition: all ease 0.4s;
    }

    /* position hamburger bars */
    #toggle span:nth-of-type(1) {
        top: 25%;
    }
    
    #toggle span:nth-of-type(2) {
        top: 50%;
        transform-origin: 100% 0;
    }

    #toggle span:nth-of-type(3) {
        top: 75%;
    }

    /* after JS toggle function is called */
    .active #toggle span:nth-of-type(1) {
        transform: rotate(-45deg)!important;
        top: 50%!important;
        background-color: #000!important;
    }

    .active #toggle span:nth-of-type(2) {
        transform: scaleX(0)!important;
        background-color: #000!important;
    }
    
    .active #toggle span:nth-of-type(3) {
        transform: rotate(45deg)!important;
        top: 50%!important;
        background-color: #000!important;
    }

    /***** MAIN *****/
    /* SECTION GRIDS */
    #projects{
        grid-template-areas:
        "helios"
        "southpark"
        "darksouls"
        "content";
    }

    /*#artwork{
        grid-template-areas:
        "";
    }*/

    /* grid items */
    section .grid-item{
        width: 100vw;
        height: 100vw;
        overflow: hidden;
        padding: 15px;
    }

    .grid-item img{
        position: relative;
        height: 100%;
    }

    /* order and position of items */
    a#helios{
        grid-area: helios;
        justify-self: center;
    }
    a#southpark{
        grid-area: southpark;
        justify-self: center;
    }
    a#darksouls{
        grid-area: darksouls;
        justify-self: center;
    }
    a#content{
        grid-area: content;
        justify-self: center;
    }

    /* ARTICLES */
    article.more-info{
        width: 100%;
        padding: 0 30px;
        background-color: #f8f8f8;
    }

    .more-info img{
        width: 100%;
    }

    .more-info h1{
        font-weight: 600;
        font-size: 1.1em;
        letter-spacing: 3.5px;
        margin: 25px auto 5px;
    }

    .more-info h2{
        font-weight: 500;
        font-size: 1.2em;
        margin-bottom: 30px;
        color: var(--main-blue-color);
    }

    .more-info p{
        font-weight: 400;
        font-size: 1em;
        margin: 30px 0 25px;
    }

    .more-info a{
        display: inline-block;
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
        font-size: 0.9em;
        padding: 10px;
        margin: -10px auto 15px;
        color: var(--main-blue-color);
    }

}

/************** MOST TABLETS **************/
@media screen and (min-width: 768px) {
    
}

/************** SMALLER DESKTOPS **************/
@media screen and (min-width: 992px) {

}

/************** LARGE DEVICES **************/
@media screen and (min-width: 1200px) {

}